<ion-content class="login">
  <!-- <div ion-fixed > -->
    <img src="assets/Logo@2x.png" class="logo-img">
    <!-- <br />
    <div>
      <span ion-text color="light" id="appname">Simple Ride</span>
    </div> -->
    <br />
    <div id="legend">
      <span ion-text color="light" >Viaja en autos compartidos <br /> de manera económica, <br /> rápida y segura.</span>
    </div>
    <br />

  <!-- </div> -->
</ion-content>

<ion-footer style="margin-bottom: 20px; padding: 0 15px; text-align: center">
  <button ion-button text-color="app" color="light" icon-left id="login-button" full round (click)="login()">
    <ion-icon name="logo-facebook" class="facebook"></ion-icon>
    Iniciar Sesión con Facebook
  </button>
  <div *ngIf="skipEnabled">
    <span ion-text color="light">- o -</span>
  </div>
  <button ion-button text-color="app" color="light" icon-left id="login-button" full round (click)="exploreApp()" *ngIf="skipEnabled">
    <ion-icon name="eye"></ion-icon>
    Explorar la Aplicación
  </button>

</ion-footer>