.about a, .about a:hover{
  color: #fff;
}

.no-scroll .scroll-content{
  overflow: hidden;
  text-align: center;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.logo-img {
	margin-top: 40%;
	margin-bottom: 5px;
	width: 200px;
}
