.card-box {
	width: 100%;
	height: 60px;
	// border: 1px solid #C4C4C4;

	ion-col {
		text-align: center;
		vertical-align: middle;
		padding: 0;

	}

}

.app-background {
	background-color: $app;
	color: white;
}

.card-header {
	text-align: center;

	ion-col {
		padding: 0;
	}
}

.trip-field  {
	font-weight: bold;
	font-size: 1.5em;
	// color: $app;

}

.trip-label {
	font-size: 0.8em;
}

.reviews-score {
	font-size: 0.6em;

}

.detail-box {
	border-top: 1px solid $app;
	border-bottom: 1px solid $app;
}

.trip-detail-box {
	text-align: center;
	font-size: 0.6em;
	padding: 0;
}

.bullet-point {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: $app;
	display: inline-block
}
