.trip-content {
	height:82%;
	overflow: scroll;
}

.trip-form {
	// padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	height: 100%;
}

.step-header {
	height: 8%;
}

.step-buttons {
	height: 8%;
}

.false-option {
	color: color($colors, danger);
}

.true-option {
	color: color($colors, secondary);
}

#map {
	// margin: 0 10px;
	padding: 0 5px;
	margin-top: 5px;
	width: 100%;
	height: 73% !important;
	border: 1px solid black;
	border-radius: 5px;
}

.location-button {
	margin: 2px;
}

.suggested_price{
	position: absolute;
	bottom: 30px;
	left: 16px;
	font-size: 9px;
}

.trip-content .item-label-stacked .text-input-md{
	margin-top: 12px;
}

.small-text{
	font-size: 10px;
}

.button-clear-md, .segment-md .segment-button, .picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected, .picker-md .picker-button, .list-md .item-input.input-has-focus ion-label, .alert-md [aria-checked="true"] .alert-radio-label{
	color: color($colors, app);
}

.segment-md .segment-button.segment-activated{
	border-color: color($colors, app);
	color: color($colors, app);
}

.fab-md, .ion-calendar-header-title, .alert-md .alert-radio-inner{
	background-color: color($colors, app);
}

.ion-calendar-header-title:hover{
	background-color: color($colors, app) !important;
}

.list-md .item-input.input-has-focus:last-child{
	border-bottom-color: color($colors, app);
	box-shadow: inset 0 -1px 0 0 color($colors, app);
}

.checkbox-md .checkbox-checked{
	background-color: color($colors, app);
	border-color: color($colors, app);
}

.list-md .item-block.input-has-focus .item-inner{
	border-color: color($colors, app);
	box-shadow: inset 0 -1px 0 0 color($colors, app);
}

.alert-md [aria-checked="true"] .alert-radio-icon{
	border-color: color($colors, app);
}
