<ion-header>
  <ion-navbar color="app" style="padding-top: 4px">
    <ion-buttons start>
      <button ion-button style="color: white" (click)="dismiss()">
        <span showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="padding-top: 0; text-align: center;">
      <img src="assets/logo.png" style="padding-top: 5px; width: 75px; height: 44px">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>

  <!-- <form [formGroup]="myformGroup" (submit)="registerTrip()"> -->

    <!-- <ion-slides #slider [options]="{onlyExternal: true}" class="trip-slides"> -->
    <ion-slides #slider class="trip-slides" style="overflow: scroll;">

      <!-- ##################### PAGE 1  ############################# -->

      <ion-slide>

        <ion-list class="trip-form trip-location">

          <div class="step-header">
            <ion-list-header>
              <ion-label>Paso 1. ¿A Dónde Viajas?</ion-label>
            </ion-list-header>
          </div>

          <!-- <div style="border: 1px solid black; margin: 0 10px; border-radius: 5px; padding: 0 5px; margin-top: 10px"> -->
          <div class="trip-content">

            <div style="border: 1px solid black; border-radius: 5px; padding: 0 5px; margin-top: 10px;">
              <!-- <div style="width: 10%; float: left; margin: 6px 0"> -->
              <div style="width: 15%; float: left;">
                <!-- <div style="padding: 0 1px; padding-top: 9px; padding-bottom: 5px"><span style="font-size: 8px">Desde</span></div>
                <div style="padding: 0 10px"><ion-icon name="arrow-round-down"></ion-icon></div>
                <div style="padding: 0 2px"><span style="font-size: 8px">Hasta</span></div> -->
                <ion-grid style="margin: 5px 0; padding: 5px 0;">
                  <ion-row>
                    <ion-col width-100 style="padding: 0 5px">
                      <div><span style="font-size: 8px">Desde</span></div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col width-100 style="padding: 0 5px">
                      <ion-icon name="arrow-round-down"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col width-100 style="padding: 5px 0">
                      <!-- <div><span style="font-size: 8px">Hasta</span></div> -->
                      <div style="font-size: 8px">Hasta</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div style="overflow: hidden;">
                <!-- <ion-searchbar (ionInput)="getLocation($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true" debounce="500" mode="md" placeholder="Origen" autocomplete="on" type="text" animated="true"></ion-searchbar>
                <ion-searchbar (ionInput)="getLocation($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true" debounce="500" mode="md" placeholder="Origen" autocomplete="on" type="text" animated="true" (ionBlur)="loadMap()"></ion-searchbar> -->

                <ion-item>
                  <!-- <ion-label color="primary" fixed>Desde</ion-label>   -->
                  <!-- <ion-icon name="md-add-circle" item-right (tap)="searchLocation($event)"></ion-icon> -->
                  <button ion-button item-right clear icon-only class="location-button" (click)="setOrigin()">
                    <ion-icon name="ios-navigate-outline" color="secondary"></ion-icon>
                  </button>
                  <button ion-button item-right clear icon-only class="location-button" (click)="searchLocation($event, 'from')">
                    <ion-icon name="md-add-circle"></ion-icon>
                  </button>
                  <ion-input type="search" [(ngModel)]="originLabel" [disabled]="true" (click)="searchLocation($event, 'from')"></ion-input>
                  <!-- <ion-searchbar (ionInput)="getLocation($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true" debounce="500" mode="md" placeholder="Origen" autocomplete="on" type="text" animated="true"></ion-searchbar> -->

                </ion-item>
                <ion-item>
                  <!-- <ion-label color="primary" fixed>Hasta</ion-label>       -->
                  <!-- <ion-icon name="md-add-circle" item-right (tap)="searchLocation($event)"></ion-icon> -->
                  <button ion-button item-right clear icon-only class="location-button" (click)="searchLocation($event, 'to')" [disabled]="!originLoc">
                    <ion-icon name="md-add-circle"></ion-icon>
                  </button>
                  <ion-input type="search" [(ngModel)]="destinationLabel" [disabled]="true" tappable (click)="searchLocation($event, 'to')"></ion-input>
                  <!-- <ion-searchbar (ionInput)="getLocation($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true" debounce="500" mode="md" placeholder="Destino" autocomplete="on" type="text" animated="true"></ion-searchbar> -->
                </ion-item>
              </div>
            </div>

            <div #map id="map"></div>
          </div>
          <div class="step-buttons">
            <button ion-button color="app" block (click)="nextStep()" [disabled]="!originLoc || !destinationLoc">Siguiente</button>
          </div>


        </ion-list>

      </ion-slide>


      <!-- ##################### PAGE 2 ############################# -->

      <ion-slide style="height: 100%; overflow: scroll;">

        <ion-list class="trip-form">

          <div class="step-header">
            <ion-list-header>
              <ion-label>Paso 2. ¿En que fecha?</ion-label>
            </ion-list-header>
          </div>

          <!-- <ion-label color="primary" stacked style="padding-left: 10px">Frecuencia</ion-label> -->
          <!-- <div class="trip-content"> -->

            <!-- <ion-grid style="padding-top: 0;">
              <ion-row>
                <ion-col width-50 style="padding-top: 0;">
                  <button color="primary" ion-button small full>Una vez</button>
                </ion-col>
                <ion-col width-50 style="padding-top: 0;">
                  <button color="light" ion-button small full>Varias veces</button>
                </ion-col>
              </ion-row>
            </ion-grid> -->

            <div style="padding: 10px 5px; border: 1px solid black;">
              <ion-calendar class="trip-calendar" [(minDate)]="minDate" [(ngModel)]="departureDate" (change)="departureDatetime.open()" ></ion-calendar>
            </div>

            <ion-item>
              <ion-label>Hora Salida</ion-label>
              <ion-datetime #departureDatetime displayFormat="h:mm A" pickerFormat="h mm A" minuteValues="0,30" [(ngModel)]="departureTime"></ion-datetime>
            </ion-item>

          <!-- </div> -->

          <!-- <div class="step-buttons"> -->
            <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col width-50 style="padding: 0; padding-right: 5px">
                  <button color="light" ion-button block (click)="prevStep()">Atras</button>
                </ion-col>
                <ion-col width-50 style="padding: 0; padding-left: 5px">
                  <button color="app" ion-button block (click)="nextStep()" [disabled]="!departureTime || !departureDate">Siguiente</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          <!-- </div> -->

        </ion-list>

      </ion-slide>

      <!-- ##################### PAGE 3 ############################# -->

      <ion-slide>

        <ion-list class="trip-form" style="margin-bottom: 0">

          <div class="step-header">
            <ion-list-header>
              <ion-label>Paso 3. Opciones al Pasajero</ion-label>
            </ion-list-header>
          </div>

          <div class="trip-content">

            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label color="app" stacked>Precio: (*)<span class="suggested_price">Sugerido {{ suggestedPrice | currency }}</span> </ion-label>
                    <ion-input #priceinput type="number" [(ngModel)]="price" placeholder="$" min="{{ minPrice }}" max="{{ maxPrice }}" step="0.25" (change)="validatePrice()" tabindex="1"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label color="app" stacked>Asientos Disp. (*)</ion-label>
                    <ion-input type="number" [(ngModel)]="places" placeholder="#" max="4" step="1" (change)="validateSeats()" tabindex="2" (blur)="focusPrice()"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col width-100>
                  <ion-item>
                    <ion-label><ion-icon name="briefcase"></ion-icon>  Equipaje de mano</ion-label>
                    <ion-checkbox [(ngModel)]="handBaggage"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><ion-icon name="briefcase"></ion-icon>  Maleta</ion-label>
                    <ion-checkbox [(ngModel)]="baggage"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><ion-icon name="paw"></ion-icon>  Mascotas</ion-label>
                    <ion-checkbox [(ngModel)]="pets"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><ion-icon name="no-smoking"></ion-icon>  Fumar</ion-label>
                    <ion-checkbox [(ngModel)]="smoking"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><ion-icon name="pizza"></ion-icon>  Comer</ion-label>
                    <ion-checkbox [(ngModel)]="food"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><ion-icon name="man"></ion-icon>  Niños</ion-label>
                    <ion-checkbox [(ngModel)]="children"></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>

            </ion-grid>

          </div>

          <div class="step-buttons">
            <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col width-50 style="padding: 0; padding-right: 5px">
                  <button color="light" ion-button block (click)="prevStep()" tabindex="3">Atras</button>
                </ion-col>
                <ion-col width-50 style="padding: 0; padding-left: 5px">
                  <button color="app" ion-button block (click)="nextStep()" [disabled]="!price || !places">Siguiente</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

        </ion-list>

      </ion-slide>

      <!-- ##################### PAGE 4 ############################# -->

      <ion-slide>

        <ion-list class="trip-form" style="margin-bottom: 0">

          <div class="step-header">
            <ion-list-header>
              <ion-label>Paso 4. Opciones de Viaje</ion-label>
            </ion-list-header>
          </div>

          <div class="trip-content">
          <!-- <div style="height: 100%;"> -->

            <ion-item>
              <ion-label color="app" stacked>Lugar de partida (*)</ion-label>
              <ion-input keyboardFix type="text" [(ngModel)]="departureAddress" placeholder="Lugar de partida" tabindex="4"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="app" stacked>Observaciones</ion-label>
              <ion-textarea keyboardFix type="text" [(ngModel)]="comments" placeholder="Escribe comentarios acerca del viaje..." tabindex="5"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label>Aceptar Reservas</ion-label>
              <ion-select [(ngModel)]="rsvpMethod">
                <ion-option value="1">Manual</ion-option>
                <ion-option value="0">Automático</ion-option>
              </ion-select>
            </ion-item>

            <div *ngIf="rsvpMethod == 1">
              <span class="small-text">Acepta reservas automaticamente cambiando esta opción.</span>
            </div>
          </div>

          <div class="step-buttons">
            <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col width-50 style="padding: 0; padding-right: 5px">
                  <button color="light" ion-button block (click)="prevStep()">Atras</button>
                </ion-col>
                <ion-col width-50 style="padding: 0; padding-left: 5px">
                  <button color="app" ion-button block (click)="nextStep()" [disabled]="departureAddress.length == 0">Siguiente</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

        </ion-list>

      </ion-slide>

      <!-- ##################### PAGE 5 ############################# -->

      <ion-slide style="height: 100%; overflow: scroll;">

        <ion-list style="width: 100%; height: 100%">

          <div class="step-header">
            <ion-list-header>
              <ion-label>Paso 5. Resumen</ion-label>
            </ion-list-header>
          </div>


          <!-- <div class="trip-content"> -->

            <ion-card>
              <ion-item>
                <ion-icon item-left name="ios-pin"></ion-icon>
                <h2>Viaje a {{destination}}</h2>
                <p><b>Fecha:</b> <span text-color="app">{{departureDate ? departureDate.startDate.toLocaleDateString():''}}</span> <b>Hora:</b> <span text-color="app">{{departureTime}}</span> <br /><b>Lugar de partida:</b> <span text-color="app">{{departureAddress ? departureAddress: 'No detallado'}}</span></p>
              </ion-item>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="home"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>{{origin}}</span>
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="briefcase"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Eq. mano</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="handBaggage"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!handBaggage"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="ios-map"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>{{tripUtils.distanceToKm(distance)}} Km</span>
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="briefcase"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Maleta</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="baggage"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!baggage"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="md-clock"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>{{tripUtils.secondsToHm(estimatedTime)}}</span>
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="paw"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Mascotas</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="pets"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!pets"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="logo-usd"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>{{price ? tripUtils.getPrice(price, distance):price}}</span>
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="no-smoking"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Fumar</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="smoking"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!smoking"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="ios-people"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>{{places}} libre{{places > 1?'s':''}}</span>
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="pizza"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Comer</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="food"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!food"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row font-size="11px">
                <ion-col style="text-align: left; padding-left: 10px">
                </ion-col>
                <ion-col col-4 style="text-align: left">
                </ion-col>
                <ion-col style="text-align: left; padding-left: 10px">
                  <ion-icon name="man"></ion-icon>
                </ion-col>
                <ion-col col-4 style="text-align: left">
                  <span>Niños</span>
                </ion-col>
                <ion-col style="padding-right: 10px">
                  <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="children"></ion-icon>
                  <ion-icon name="ios-close-circle" color="danger" *ngIf="!children"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-card-content>
                <p><b>Comentarios:</b></p>
                <p style="text-align: justify;"><br/> {{comments ? comments: 'No se han detallado observaciones'}}</p>
              </ion-card-content>

            </ion-card>

            <div class="step-header">
              <ion-list-header>
                <ion-label>Términos y Condiciones</ion-label>
              </ion-list-header>
            </div>


            <ion-item>
              <ion-label><a href="#" tappable (click)="termsOfService()">Acepto Términos y Cond.</a></ion-label>
              <ion-toggle checked="false" [(ngModel)]="terms"></ion-toggle>
            </ion-item>
          <!-- </div> -->

          <!-- <button ion-button type="submit" color="primary" block>Crear Viaje</button> -->
          <!-- <div class="step-buttons"> -->
            <ion-grid style="padding: 0;">
              <ion-row>
                <ion-col width-50 style="padding: 0; padding-left: 10px; padding-right: 5px">
                  <button color="light" ion-button block (click)="prevStep()">Atras</button>
                </ion-col>
                <ion-col width-50 style="padding: 0; padding-right: 10px; padding-left: 5px">
                  <button color="app" ion-button block (click)="saveTrip()" [disabled]="!terms || !rsvpMethod">Crear Viaje</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          <!-- </div> -->

        </ion-list>

      </ion-slide>

    </ion-slides>
  <!-- </form> -->


</ion-content>
