.trip-card-header, .trip-card-header p {
	background-color: color($colors, app);
	color: white;

}

.card-box {
	width: 100%;
	height: 60px;
	// border: 1px solid #C4C4C4;

	ion-col {
		text-align: center;
		vertical-align: middle;
		padding: 0;

	}

}

.card-button {
	// background-color: #c8c7cc;
}

.trip-field  {
	font-weight: bold;
	font-size: 1.5em;
	color: color($colors, app);

}

.trip-label {
	font-size: 0.8em;
}

.reviews-score {
	font-size: 0.6em;

}

.no-padding-bottom ion-col {
	padding-bottom: 0;
}

ion-navbar.app-header > div.toolbar-background-ios {
	background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: color($colors, app) !important;
}
