.app-background {
	background-color: color($colors, app);
	color: white;
}

.card-header {
	text-align: center;

	ion-col {
		padding: 0;
	}
}

.message-bubble {
	padding: 0;
	border: 1px solid #c4c4c4;
	border-radius: 20px;
	background-color: #c4c4c4;
	margin-top: 5px;
}

textarea {
	margin: 0 5px 0 5px;
}
