.admin{
	background-color: #472F92;
	color: #000;
}

.admin .header{
	color: #fff;
}

.admin .header{
	height: 50px;
}

.admin .header h2{
	line-height: 50px;
}

.admin .header button{
	margin-top: 10px;
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}

.admin .header a:not(.dropdown-item){
	margin-top: 10px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}

.open .dropdown-menu{
	display: block;
}

.voucher-object {
	display: block;
	height: auto;
	width: 250px;
	padding-right: 50px;
}

.admin .tab-content .tab-pane{
	background-color: #472F92;
	color: #fff;
	height: 100vh;
}

.admin h4{
	font-size: 36px;
	margin-bottom: 20px;
}

.admin p{
	font-size: 18px;
}

.media-right button{
	padding: 10px 40px;
	width: 200px;
	border-radius: 25px;
	height: 50px;
	line-height: 30px;
	display: block;
	margin: 10px auto;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.media {
    display: block;
	}

	.media-left{
		width: 100%;
	}

	.voucher-object{
		padding: 0px;
		margin: 0 auto;
	}

	.media-body{
		width: 100%;
		text-align: center;
	}

}
