.admin{
	background-color: #472F92;
	color: #000;
}

.admin .header{
	color: #fff;
}

.admin .header{
	height: 100px;
}

.admin .header h2{
	line-height: 50px;
}

.admin .header button{
	margin-top: 10px;
	color: #fff;
	border-color: #FFF;
	background-color: transparent;
}

.admin .container{
	height: 100vh;
	text-align: center;
}

.admin .container button{
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	margin: 50px auto;
	font-size: 2rem;
}

.admin .container a{
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
	margin: 50px auto;
	padding: 10px 20px;
	font-size: 2rem;
	display: inline-block;
}

.open .dropdown-menu{
	display: block;
}
