.admin{
	background-color: #472F92;
	color: #000;
}

.admin .header{
	color: #fff;
}

.admin .header{
	min-height: 10vh;
}

.admin .header h2{
	line-height: 50px;
}

.admin .header button{
	margin-top: 10px;
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}

.admin .header a:not(.dropdown-item){
	margin-top: 10px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}

.admin .container{
	height: 100vh;
	text-align: center;
}

.admin .container img{
	margin: 50px auto;
}

.admin .container button{
	color: #fff;
	border-color: #FFF;
	background-color: transparent;
	margin: 50px auto;
	font-size: 2rem;
}

.open .dropdown-menu{
	display: block;
}

.admin .tab-content .tab-pane{
	background-color: #472F92;
	color: #fff;
	height: 100vh;
}

.admin .tabs .tab-content{
	height: 100vh;
}

table{
	margin: 20px auto;
	width: 80%;
	color: #fff;
}

table th, table td{
	padding: 10px 20px;
	border: 1px solid #fff;
}
