@charset "UTF-8";

.app-color {
	background-color: color($colors, app);
	color: white;
}

button.app-color.activated {
	background-color: color($colors, app);
}

a, .item-radio-checked.item-md ion-label, .alert-md .alert-button{
	color: color($colors, app);
}

.toggle-md.toggle-checked .toggle-inner, .radio-md .radio-inner {
  background-color: color($colors, app);
}

.radio-md .radio-checked {
	border-color: color($colors, app);
}

.toggle-md.toggle-checked .toggle-icon{
	background-color: #ddd;
}
