@import "../../theme/colorsvar";

.slide-image{
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
}

.content-background {
	background-color: $app;
}


ion-content.slides:first-child .scroll-content {
	padding-top: 0 !important;
}

.no-scroll .scroll-content{
     overflow: hidden;
}
