<ion-header>
	<ion-navbar color="app" style="padding-top: 4px">
	<ion-buttons start>
	  <button ion-button (click)="dismiss()" *ngIf="!isPushNav">
	    <span showWhen="ios">Cerrar</span>
	    <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
	  </button>
	</ion-buttons>
	<ion-title style="padding-top: 0; text-align: center;">
      <img src="assets/logo.png" style="padding-top: 5px; width: 75px; height: 44px">
    </ion-title>

	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list-header style="margin: 0; font-size: 0.7em">
	    <ion-label *ngIf="!isDriver" style="padding-top: 0; text-align: center">Subir Cédula de Ciudadanía</ion-label>
	    <ion-label *ngIf="isDriver && !verifyRegister" style="padding-top: 0; text-align: center">Paso 1. Subir Licencia de Conducir</ion-label>
		<ion-label *ngIf="isDriver && verifyRegister" style="padding-top: 0; text-align: center">Paso 2. Subir Matricula de su Vehículo</ion-label>
	</ion-list-header>
	
	<div *ngIf="!isMobile()">
		<input type="file" (change)="getFile($event)" accept="image/*">
	</div>

	<div *ngIf="isMobile()" padding>
		<button color="app" ion-button block icon-only icon-center (click)="showUploadOptions()">
		<!-- <button ion-button block icon-only icon-center (tap)="meteorCapturePhoto()"> -->
			<ion-icon name="camera"></ion-icon>
		</button>
	</div>

	<ion-list [hidden]="isMobile() ? !dataURL:!uploadedFile">
		<ion-list-header>
	      <ion-label>Vista Previa</ion-label>
	    </ion-list-header>
		<img [src]="isMobile() ? dataURL:uploadedFile" style="padding: 0 10px; width: 100%"/>
	</ion-list>
</ion-content>

<ion-footer style="padding: 0 10px; text-align: center">
  <button color="app" ion-button block (click)="uploadDocument(isDriver)" [disabled]="isMobile() ? !uploadedFile:!dataFile">
    Subir Documento
  </button>
</ion-footer>
