<ion-header>
	<ion-navbar color="app" style="padding-top: 4px">
		<ion-buttons start>
		  <button ion-button (click)="dismiss()">
		    <span showWhen="ios">Cancelar</span>
		    <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
		  </button>
		</ion-buttons>
		<ion-title style="padding-top: 0; text-align: center">
	      <img src="assets/logo.png" style="padding-top: 5px; width: 75px; height: 44px">
	    </ion-title>
		<!-- <ion-buttons end>
		  <button ion-button (click)="dismiss()">
		    <span>Editar</span>
		  </button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let trip of trips | async">
    <ion-list>

      <ion-list-header>
        <ion-label style="text-align: center">Paso 1. Detalles del Viaje</ion-label>
      </ion-list-header>


    	<ion-card>
          <ion-item>
            <ion-icon item-left name="ios-pin"></ion-icon>
            <h2>Viaje a {{trip.destination.shortName}}</h2>
            <p (click)="presentAlert('Lugar de partida', trip.departureAddress)"><b>Fecha:</b> <span>{{trip.departureDate.toLocaleDateString()}}</span> <b>Hora:</b> <span>{{trip.departureTime}}</span><br />
						<b>Lugar de salida:</b> <span>{{trip.departureAddress}}</span></p>
          </ion-item>

          <ion-row font-size="11px">
            <ion-col style="text-align: right">
              <ion-icon name="home"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>{{trip.origin.shortName}}</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="briefcase"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Eq. mano</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.handBaggage"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.handBaggage"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row font-size="11px">
            <ion-col style="text-align: right">
              <ion-icon name="ios-map"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>{{tripUtils.distanceToKm(trip.distance)}} (Km)</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="briefcase"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Maleta</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.baggage"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.baggage"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row font-size="11px">
            <ion-col style="text-align: right">
              <ion-icon name="md-clock"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>{{tripUtils.secondsToHm(trip.estimatedTime)}} (Est.)</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="paw"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Mascotas</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.pets"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.pets"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row font-size="11px">
            <ion-col style="text-align: right">
              <ion-icon name="logo-usd"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>{{tripUtils.getPrice(trip.price, trip.distance)}}</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="no-smoking"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Fumar</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.smoking"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.smoking"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row font-size="11px">
            <ion-col style="text-align: right">
              <ion-icon name="ios-people"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>{{trip.available_places}} libre{{trip.available_places > 1?'s':''}}</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="pizza"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Comer</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.food"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.food"></ion-icon>
            </ion-col>
          </ion-row>

					<ion-row font-size="11px">
            <ion-col style="text-align: right">
				<ion-icon name="ios-flash" *ngIf="trip.rsvp_method == 0"></ion-icon>
				<ion-icon name="ios-eye" *ngIf="trip.rsvp_method == 1"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
				<span *ngIf="trip.rsvp_method == 0">Res. Automática</span>
				<span *ngIf="trip.rsvp_method == 1">Reserva Manual</span>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-icon name="man"></ion-icon>
            </ion-col>
            <ion-col col-4 style="text-align: left">
              <span>Niños</span>
            </ion-col>
            <ion-col>
              <ion-icon name="ios-checkmark-circle" color="secondary" *ngIf="trip.options.children"></ion-icon>
              <ion-icon name="ios-close-circle" color="danger" *ngIf="!trip.options.children"></ion-icon>
            </ion-col>
          </ion-row>


          <ion-card-content>
            <p style="text-align: center"><b>Comentarios:</b></p>
            <p style="text-align: justify;"><br/> {{trip.comments ? trip.comments: 'No se han detallado observaciones'}}</p>
          </ion-card-content>

      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col width-70 style="font-size: 1.2em">
            <ion-label ion-text color="app">Puestos a reservar</ion-label>
          </ion-col>
          <ion-col width-30 style="text-align: right">
            <div>
              <button ion-button icon-only round small color="app" style="margin: 0" (click)="removeSit(trip)">
                <ion-icon name="md-remove"></ion-icon>
              </button>
              <div style="display: inline-block; padding-top: 5px; text-align: center; font-size: 1.2em; vertical-align: middle; margin: 0 10px">
                <strong>{{reservedSits}}</strong>
              </div>
              <button ion-button icon-only round small color="app" style="margin: 0" (click)="addSit(trip)">
                <ion-icon name="md-add"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
			<!--
      <ion-item>
        <ion-label color="app" stacked>Observaciones</ion-label>
        <ion-textarea type="text" [(ngModel)]="comments" rows="3" placeholder="¿ Tienes algo que decirle al conductor ?"></ion-textarea>
      </ion-item>
		-->
    </ion-list>

    <ion-list radio-group [(ngModel)]="paymentMethod" color="app" style="margin-bottom: 10px">

      <ion-list-header>
        <ion-label style="text-align: center">Paso 2. Método de Pago</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Efectivo (Early Adopters)</ion-label>
        <ion-radio value="pin"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Depósito Bancario</ion-label>
        <ion-radio value="deposit" [disabled]="true"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tarjeta Crédito/Débito</ion-label>
        <ion-radio value="card" [disabled]="true"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Dinero Electrónico</ion-label>
        <ion-radio value="electronic-money" [disabled]="true"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Promo Code</ion-label>
        <ion-radio value="promo" [disabled]="true"></ion-radio>
      </ion-item>



    </ion-list>

    <ion-item *ngIf="paymentMethod == 'pin'">
      <ion-label color="app" stacked>Pin de Viaje (*)</ion-label>
      <ion-input keyboardFix type="text" #inputPin (input)="inputPin.value=$event.target.value.toUpperCase()" [(ngModel)]="travelPin" placeholder="Ingrese código"></ion-input>
      <button ion-button small color="app" item-right (click)="sendPinCode()" [disabled]="travelPin.length == 0">Validar</button>
    </ion-item>
    <div class="pin-message" *ngIf="pinMessage.length > 0">
      <span color="app"><strong>{{pinMessage}}</strong></span>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
        <ion-label style="font-size: 1.2em">Total a Pagar</ion-label>
        </ion-col>
        <ion-col width-50 style="text-align: right">
          <div style="display: inline-block; padding: 8px; font-size: 1.5em;"><strong>${{totalPayment}}</strong></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label><a href="#" (click)="termsOfService()">Acepto Términos y Cond.</a></ion-label>
      <ion-toggle color="app" checked="false" [(ngModel)]="terms"></ion-toggle>
    </ion-item>

    <div padding>
      <button color="app" ion-button block (click)="joinTrip(trip)" [disabled]="!terms || (paymentMethod == 'pin' && !validPin)">Unirse al Viaje</button>
    </div>

  </div>


</ion-content>
